version: "3.8"
services:
  reverse:
    hostname: reverse
    image: nginx:1.19.5
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/templates/:/etc/nginx/templates/
      - ./certs/:/etc/certs/
    environment:
      - EAUI_URI=http://eaui:3000
      - EADASHBOARD_URI=http://eadashboard:3001
      - EAREPORTPROVIDER_URI=http://eareportprovider:3003
      - EACORPORATEUI_URI=http://eareportprovider:3003
    networks:
      - app-internal
    depends_on:
      - first
  eadashboard:
    image: stravydockerhub/eadashboard:0.1.1118
    networks:
      - app-internal
    expose:
      - 3001
  eareportprovider:
    image: stravydockerhub/eareportprovider:0.1.0
    networks:
      - app-internal
    expose:
      - 3003
  eacorporateui:
    image: stravydockerhub/eacorporateui:0.1.0
    networks:
      - app-internal
    expose:
      - 3002
  eaui:
    image: stravydockerhub/eaui:0.1.3641
    networks:
      - app-internal
    expose:
      - 3000
networks:
  app-internal:
    name: app-internal
  app-v1-local:
    external: true
    name: app-v1-local
  agent_network:
    driver: overlay
    attachable: true
volumes:
  portainer_data:
