version: "3.8"
services:
  reverse:
    hostname: reverse
    image: nginx:1.19.5
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/templates/:/etc/nginx/templates/
      - ./certs/:/etc/certs/
    environment:
      - FURI=http://first:80
      - SURI=http://second:80
    networks:
      - app-internal
    depends_on:
      - first
  second:
    image: nginxdemos/hello
    networks:
      - app-internal
      # - app-v1-local
    # environment:
    #   - API_URL=https://www.devapi.app.by
    expose:
      - 80
    # command: npm start
    # healthcheck:
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    # deploy:
    #   resources:
    #     limits:
    #       cpus: "0.5"
    #       memory: 1026M
  first:
    image: nginxdemos/hello
    networks:
      - app-internal
      # - app-v1-local
    # environment:
    #   - USER_SERVICE_URL=http://user:8001
    expose:
      - 80
    # command: node ./src/index.js
    # healthcheck:
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    # deploy:
    #   resources:
    #     limits:
    #       cpus: "1"
    #       memory: 556M
networks:
  app-internal:
    name: app-internal
  app-v1-local:
    external: true
    name: app-v1-local
  agent_network:
    driver: overlay
    attachable: true
volumes:
  portainer_data:
